<head>
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-NTPKF4PPXM"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-NTPKF4PPXM');
</script>
</head>
<div>
  <div>
    <h1>Our cocktails</h1>
  </div>

  <div>
    <ul>
    <% @cocktails.each do |cocktail| %>
      <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
    <% end %>
    </ul>

    <%= link_to 'Add a new cocktail', new_cocktail_path %>
  </div>
</div>
